/*****************************************************************/
/* ------------------------------------------------------------- */
/* ------------- Vaseto.net / Media for responsive ------------- */
/* ---------------- VasilSlavchev@gmail.com  ------------------- */
/* ------------------------------------------------------------- */
/*****************************************************************/
@charset "UTF-8";
/* ------------------------------------------------------------- */
/* ------------- Break Points at: 1025,768,320px. -------------- */
/* ------------------------------------------------------------- */
html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    display: block;
    margin: 0 auto;
    padding: 0;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

*{
    box-sizing: border-box;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

/* ************************************************************ */
/*--------------------- CSS MEDIA COLUMS -----------------------*/
/* ************************************************************ */
.col-4, .col-6, .col-8, .col-12 {
    position: relative;
    display: block;
    margin: 0 auto;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
}

.col-12 {
    width: 100%;
    /*border: 1px solid orange;*/
}

.col-8 {
    width: 66.6666666%;
    /*border: 1px solid orange;*/
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 31.3333333%;
    /*border: 1px solid orange;*/
}


/*============================================================= */
/* -------------- Maximum width goes here. -------------------- */
/*============================================================= */

/*  * 4+8 = 12 (100%)
    * column 12 = 100%
    * column  8 = 66 %
    * column  4 = 33 %
*/


/*@media (max-width: 320px) {
    .col-8 {
        margin: 0 auto;
        display: block;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .col-4 {
        margin: 0 auto;
        display: block;
        width: 58%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    #main {
        padding: 0% !important;
    }
}*/



/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 320px) {
    .container {
        border: 1px solid #ADDFFF;
    }

    #wrapper, .wrapper {
        width: 96%;
    }

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 360px) {
    .container {
        border: 1px solid #ADDFFF;
    }

    #wrapper, .wrapper {
        width: 96%;
        position: relative;
    }

    #lang {
        position: absolute;
        top: 0px;
        left: 300px;
        width: 64px;
        border: 1px solid yellow;
    }

    .list {
        display: none;
    }
}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 380px) {
    .container {
        border: 1px solid #ADDFFF;
    }

    #wrapper, .wrapper {
        width: 96%;
    }

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 420px) {

    body {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .container {
        border: 1px solid #ADDFFF;
    }

    #wrapper, .wrapper {
        width: 96%;
        border: 1px solid red;
    }

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 480px) {
    .container {
        border: 1px solid #ADDFFF;
    }

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 666px) {
    .container {
        border: 1px solid red;
    }

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 748px) {

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 992px) {

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 1200px) {

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 1366px) {

}

/* ----------------- Samsung Galaxy S3 ------------------------ */
@media (max-width: 1920px) {

}


/*============================================================= */
/* -------------- Minimum width goes here. -------------------- */
/*============================================================= */

/* ------------------------------------------------------------ */
/* ------------------- Phones - res 420px --------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 420px) {
    .container {
        /*width: 400px;*/
    }
}

/* ------------------------------------------------------------ */
/* ------------------- Phones - res 666px --------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 666px) {
    .container {
        /*width: 650px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Fablets - res 748 ---------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 748px) {
    .container {
        /*width: 750px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Tablets - res 992px -------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 992px) {
    .container {
        /*width: 970px;*/
    }
}


/* ------------------------------------------------------------ */
/* ------------------- Laptop - res 1200px -------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 1200px) {
    .container {
        /*width: 1170px;*/
    }
}


/* ************************************************************ */
/* ------------------ Laptop - res 1366px --------------------- */
/* ************************************************************ */
@media (min-width: 1366px) {
    .container {
        /*width: 1348px;*/
    }
}


/* ************************************************************ */
/*-------------------- Desktop - res 1920px --------------------*/
/* ************************************************************ */
@media (min-width: 1920px) {
    .container {
        /*width: 1900px;*/
    }
}




/* ************************************************************ */
/*----------------------- CSS CLEARFIX -------------------------*/
/* ************************************************************ */
.clearfix::before, .clearfix::after {
    display: block;
    content: " ";
    display: table;
}
.clearfix  {
    clear: both;
}
/* ************************************************************ */
/*------------------ CSS BASIC COLOR CLASSES -------------------*/
/* ************************************************************ */
.color-blue {
    color: #428bca;
}

.color-success {
    color: #5cb85c;
}

.color-info {
    color: #5bc0de;
}

.color-warning {
    color: #f0ad4e;
}

.color-danger {
    color: #d9534f;
}

/* ************************************************************ */
/*--------------------------------------------------------------*/
/* ------------- Vaseto.net / end of styles ¯\_(ツ)_/¯: -------- */
/*--------------------------------------------------------------*/
/* ************************************************************ */


@media (min-width: 768px) {
    .container {

        max-width: 730px;
    }
}

@media (min-width: 1200px) {
    .container {

        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {

        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {

        width: 750px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
