/* =============================================================================
    HTML5 element display
========================================================================== */
article, aside, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
    Reset
========================================================================== */
html {
    height: 100%;
}
body {

    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body, html, div, p, span,
h1, h2, h3, h4, h5,
table, td, tr, th,
ul, ol, li, dl, dt, dd,
form, input, fieldset, label, legend, select, textarea,
a, img, pre {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    line-height: 0;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 125%;
}
h3 {
  font-size: 110%;
}
h4 {
  font-size: 100%;
}
h5 {
  font-size: 90%;
}
h6 {
  font-size: 75%;
}