/*****************************************************************/
/* ------------------------------------------------------------- */
/* ----------------- Vaseto.net /Style.css --------------------- */
/* ---------------- VasilSlavchev@gmail.com  ------------------- */
/* ------------------------------------------------------------- */
/*===============================================================*/
@font-face {
    font-family: 'DanielBlack';
    src: url('../fonts/danielbk.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Arial';
    background: url('../images/body_background.jpg');
}

body a {
    color: #ffffff;
    text-decoration: none;
}

body p {
    color: #000000;
}

body a:hover {
    color: #3485ea;
    text-decoration: none;
}

/* ------------------------------------------------------------ */
/* ------------------ Vaseto.net / Wrappers ------------------- */
/* ------------------------------------------------------------ */
#wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid blue;
}

.wrapper {
    width: 70%;
    display: block;
    margin: 0 auto;
    border: 1px solid red;
}

/* ------------------------------------------------------------ */
/* ------------------ Vaseto.net / Header --------------------- */
/* ------------------------------------------------------------ */
#header {
    /*width: 960px;*/
}

#lang {
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    top: 0;
    left: 4px;
}

#lang .list-lang {
    text-align: center;
    list-style-type: none;
    display: block;
}

#lang .list-lang a {
    position: relative;
    width: 54px;
    height: 34px;
    display: block;
    color: #000000;
    font-size: 16px;
    border-radius: 5px;
    line-height: 40px;
    font-family: 'DanielBlack';
    background-image: url('../images/sprite.png');
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.8);
}

#lang .list-lang .bg {
    background-position: -16px -6px;
    border: 1px solid #3485ea;
    -webkit-transform: scale(0.8,0.8);
}

#lang .list-lang .en {
    background-position: -90px -5px;
    border: 1px solid #3485ea;
    -webkit-transform: scale(0.8,0.8);
}

/* ------------------------------------------------------------ */
/* ------------------ Vaseto.net / Navigation ----------------- */
/* ------------------------------------------------------------ */
#navi {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 78px;
    background: url('../images/menu_background.png') repeat-x 0 -2px;
    z-index: 10001;
    border: 1px solid red;
}

#navi .nav {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 20px;
    border: 1px solid red;
    width: 70%;
    margin: 0 auto;
    display: block;
}

#header #navi .list {
    margin: 0;
    padding: 0;
}

#header #navi .list li {
    list-style-type: none;
    display: inline-block;
}

#navi .navbar-brand {
    position: relative;
    padding: 0;
    margin-top: 16px;
    margin-left: 20px;
    float: left;
}

#navi .nav-brand {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    margin-left: 0px;
    display: inline;
}

#navi .nav-brand.blue a {
    color: #3485ea;
    font-size: 28px;
    font-family: 'DanielBlack';
}

#navi .nav-brand.white a {
    color: white;
    font-size: 28px;
    font-family: 'DanielBlack';
}

#navi .blue a:hover {
    color: #ffffff;
}

#navi .white a:hover {
    color: #3485ea;
}

#header #navi .list {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    margin-top: 4px;
}

#navi .nav .list a {
    padding: 6px 0;
    margin-left: 10px;
}

#navi .list .active {
    border-bottom: 3px solid #3485ea;
}

#navi .list a:hover {
    border-bottom: 3px solid #ffffff;
}

/*==============================================================
                    Vaseto.net / contaier
==============================================================*/
#container {
    margin: 0 auto;
    padding-top: 85px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.8);
    color: #000000;
    width: 70%;
}

#aboutme:target {
    margin-top: -120px;
/*    padding-top: -100px;*/
}

#container .section {
    width: 100%;
    overflow: hidden;
}

#container .section h1 {
    font-size: 28px;
    text-align: center;
    background-image: url('../images/h1 copy.jpg');
    line-height: 48px;
}

#container .section .article {
    width: 40%;
    display: inline-block;
/*    border: 1px solid red;*/
    margin-left: 10px;
}

#container .section .article h1 {
    color: #000000;
}

#container .section .article .h2 {
    position: relative;
    left: -20px;
    line-height: 60px;
    background-image: url('../images/background_blue.png');
    /*background-position: -20px 0px;*/
    background-repeat: no-repeat;
}

#container .section .article h2 {
    font-size: 20px;
    text-align: center;
    color: #000000;
}

#container .section .article img {
    -ms-transform: scale(0.7,0.7); /* IE 9 */
    -webkit-transform: scale(0.7,0.7); /* Chrome, Safari, Opera */
    transform: scale(0.7,0.7);

    z-index: 9999;
}

#container .section .article p {
    width: 100px;
}

#container .section .article a {

}



#container #aboutme {
    box-shadow: 0 0 15px 0 #3485ea;
}

#container #portfolio {
    box-shadow: 0 0 15px 0 #3485ea;
}

#container #services {
    box-shadow: 0 0 15px 0 #3485ea;
}

#container #contactme {
    box-shadow: 0 0 15px 0 #3485ea;
}






















/*==============================================================
                    Vaseto.net / footer
==============================================================*/
#footer {
    margin: 0 auto;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.8);
}

/*==============================================================
                    Vaseto.net / end of styles.
==============================================================*/